//colors
$blue: #3E78B2;
$navBlue: #004BA8;
$yellow: #D4B483;
$red: #C1666B;
$black: #080708;
$white: #E4DFDA;
$grey: #808080;
$flatBlack: #1D1E18;

//box shadow
$box-shadow: 0 4px rgba(0, 0, 0, 0.1);

//border radius
$border-radius: 5px;