//colors
$blue: #2b90d9;
$yelow: #EFDC05;
$red: #E53A40;
$black: #090707;
$white: #FFFFFF;
$grey: #e6e4e5;
$flatBlack: #333030;

//box shadow
$box-shadow: 0 4px rgba(0, 0, 0, 0.1);

//border radius
$border-radius: 5px;