//colors
$blue: #3772FF;
$yelow: #FDCA40;
$red: #DF2935;
$black: #080708;
$white: #FFF;
$grey: #808080;
$flatBlack: #1D1E18;

//box shadow
$box-shadow: 0 4px rgba(0, 0, 0, 0.1);

//border radius
$border-radius: 5px;