@import "_colors.scss";
@import "_fonts.scss";

body html {
    height: 100%;
    color: $black;
    margin: 0;
    padding: 0;
    font-family: $body-font;
}

.title {
    font-size: 85px;
    font-weight: bold;
    margin: auto;
    font-family: $header-font;
    color: $blue;
    padding: 15px;
    text-align: center;
    text-shadow: 0 2px $grey;
}

.hero{
    width: 100%;
    padding: 5px;
    margin: auto;
    height: 565px;
    width: 100%;
    margin: auto;
    background-image: url("images/chip2.png");
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-text {
    text-align: center;
    position: relative;
    top: 25%;
    bottom: 25%;
    color: $blue;
    text-shadow: 0 1.25px $grey;
}

.hero-text p {
    font-size: 65px;
    font-weight: normal;
    margin: auto;
    font-family: $header-font;
}

.hero ul li{
    display: inline-block;
    text-decoration: none;
    margin: auto;
    font-size: 45px;
}



/*****************
Hero font fade in
******************/
.hero-text p{
    animation: fadein 1s linear;
    animation-fill-mode: both;
}

.hero-text ul li a{
    animation: fadein 1s linear;
    animation-fill-mode: both;
}

.hero-text p:nth-child(1) {animation-delay: 0.5s;}
.hero-text p:nth-child(2) {animation-delay: 1.5s;}

@keyframes fadein {
    0%{
        opacity: 0;
        transform: scale(.1);
    }
    85%{
        opacity: 1;
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);
    }
}


nav {
    background: $navBlue;
    top: 0;
    width: 100%;
    margin: 0 auto;
    height: 65px;
    padding: 14px 16px;
    position: relative;
    z-index: 1;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
    padding: 20px;
    display: flex;
    color: $yellow;
    transition: all 0.2;
    text-transform: uppercase;
    text-shadow: .25px .25px $red;
}

nav a:hover {
    color: $red;
    text-decoration: none;
}

.fixed-nav nav {
    position: fixed;
    box-shadow: $box-shadow;
}

li.logo {
    max-width: 0;
    overflow: hidden;
    background: $navBlue;
    transition: all 1s;
    font-size: 25px;
}

.fixed-nav li.logo {
    max-width: 1500px;
    margin-left: 6px;
}

li.logo a {
    color: $yellow;
    font-family: $header-font;
    text-shadow: 0 1px $red;
}

nav .logo a:hover{
    color: $blue;
    text-shadow: 0 1px $red;
}

nav .icons{
    font-size: 25px;
    display: inline-flex;
    justify-content: flex-end;
}


.blue-area {
    background-color: $blue;
    padding-top: 50px;
    border-radius: $border-radius;
    padding-bottom: 35px;
    margin-bottom: 75px;
    margin-top: 25px;
}

#txt-area {
    background: #ffffff;
    width: 75%;
    margin: 15px auto 25px;
    padding: 10px;
    border-radius: $border-radius;
    box-shadow: $box-shadow
}

p {
    margin: 5px;
    padding: 3px;
}

.chip-aisle{
    width: 100% \9;
    height: auto;
}

/***********
Secret Modal
************/
//The modal
#modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

//The modal content
.modal-content{
    background-color: $flatBlack;
    margin: auto;
    padding: 20px;
    border: 1px solid $black;
    width: 80%;
    box-shadow: $box-shadow;
    animation-name: modalFade;
    animation-duration: .5s;
}

//Modal text
#modal-text{
    font-size: 100px;
    margin: auto;
    color: $white;
    font-family: $header-font;
    text-shadow: 1.75px 1.5px $red;
}

//Close btn
.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

//Close btn (hoover, focus)
.close:hover{
    .close:focus{
        color: $red;
        text-decoration: none;
        cursor: pointer;
    }
}

//Modal keyframes
@keyframes modalFade{
    from {top: -300px; opacity: 0;}
    to {top: 0; opacity: 1;}
}

footer {
    background: $white;
    padding: 35px 35px;
    background-color: $blue;
    color: $white;
    font-size: 20px;
}
